body{
    background: rgb(222, 238, 233);
}
.slider{
    margin:0;
    box-sizing: border-box;
    background: rgb(98, 180, 149);
    align-items: center;
    width: 100%;
}
.topic{
    text-align: center;
    color: rgb(14, 13, 13);
    font-family: sans-serif ;
    text-transform: uppercase;
    letter-spacing: 8px;

}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.container{
    height:500px;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    align-items: center;
    width: 100%;
}
.slide-image{
    height: 100%;
    width: 100%;
    position:absolute;

  
}
.slide-image img
{
    width: 100%;
    height:80%;
    object-fit:contain;
}
.prevbtn,.nextbtn{
    background: grey;
    padding: 16px;
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    font-size: 20px;
    box-shadow: 0 4px 8px rgb(0,0,0.6);
    z-index: 100;
    cursor: pointer;
    transition: 400ms;


}
.prevbtn:hover,.nextbtn:hover
{
    background-color: silver;
}
.prevbtn
{
    left: 0;
}
.nextbtn
{
    right:0;
}
.navigation-dots{
    display:flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
.single-dot{
    background: rgb(238, 232, 232);
    height: 16px;
    width: 16px;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
}
.single-dot.active
{
    background: rgb(7, 7, 7);
}
.Basic
{
    width: 100%;
    border: 2px solid rgb(236, 243, 236);
    padding-top:10%;
    margin: 1px;
    height: 500px;
    position:relative;
}
.thinkBox
{
    width: 49%;
    border-radius: 20px ;
    margin: 5px;
    float: left;
    height: 50%;
    position:relative;
    overflow: hidden;
    box-sizing: border-box;
    background: rgb(98, 180, 149);
    box-shadow: 5px 5px 5px cornsilk;
    transition: width 2s;
}
.BasicTopic
{
    text-align: center;
}
thinkBox:hover
{
    width: 300px;
}
.CR{
    display: block;
  margin-left: auto;
  margin-right: auto;
    height: 50px;
    width: 50px;
    padding-top: 30px;

}
.EXP
{
    text-align: center;
   
}
.q{
    text-align: center;
    margin:10px;
}
.course{
    width: 100%;
    height: 300px;
    position:relative;
    padding-top: 25%;
    margin: 2%;
    padding-bottom: 25%;
    
}
.courseDescription{
    width: 40%;
    margin: 5%;
    overflow: hidden;
    position: relative;
    float: left;
    

}
.Cpara
{
    text-align: center;
    position: relative;
    margin: 15px;
    font-style:initial;
    padding-top: 5%;
}
.a{
    text-align:center;
    position: relative;
    font-size: 300%;
}
.btnCourses
{

    height: 15%;
    width: 25%;
    background-color:#d62038;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    position:relative;
    top: 60%;
    left: 37%;
    border-radius:50% ;
    border-color:#d62038;
}
.btnCourses span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnCourses span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnCourses:hover span {
    padding-right: 25px;
  }
  
  .btnCourses:hover span:after {
    opacity: 1;
    right: 0;
  }