*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    background-size: cover;
    background-position: center;
}


/*Topic*/




header{
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url('pic/n1.jpg') ;
    background-position:bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .content{
   
    margin-bottom: 150px;
    color: rgb(167, 20, 20);
    text-align: center;
}

.header .content h1{   
    font-size: 4vmin;
    
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header .content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}
.cn {
   /* width: 100px;
    height: 40px;
    background: rgb(167, 211, 167);
    border: 2px solid rgb(0,100,0);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
 text-decoration: none;
 text-align: center;
 */
 background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card1 a{
    background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 10px 15px;
    text-decoration: none;
}
.card1:hover{
    background-color: aquamarine;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/*Adding the quote*/
.william {
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position:absolute;
    text-align: left;
    top: 10%;    /*changing the quote top position*/
    margin-bottom: 10px;

}
.william .quote{
    margin-top: 8%;
    padding-left: 20px;
    font-family: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 25px ;
    text-align: center;
}





/*Innovation Creativity*/




section{
   width: 80%;
   margin: auto;  /*Cjange the whole section top position*/
}

.title{
    text-align: center;
    font-size: 4vmin;
    color:#2bab0d;
}
.title h1{
    font-size: 80px;
    color:rgb(206, 128, 27) ;
}
.row_2{
    display: inline-block;  /*paragraph position type*/ 
    
    align-items: center;
    width: 100%;
    justify-content: space-between;

    
}
.row_2 .col{
    display: flex;
    margin-top: 50px;  /*Changing the paragraph top possition*/
    flex-direction: column;
    align-items: center;
}
.row_2 .col .pic11{
    margin-top: 20px;
    width: 55%;
    height: 37%;
}                   /*changing the image size*/
.row_2 .col .pic22{
    margin-top: 40px;
    width: 50%;
    height: 30%;
}
.row_2 .col .pic33{
    margin-top: 40px;
    width: 60%;
    height: 10%;
}
.what .row_1{
    margin-top: 50px;
}

h2{                      /*This code relevant to the Strategic Mindset*/
    font-size: 6vmin; 
    
    margin: 30px auto;  /*Change the gap between pic and para */

}

p{    /*This code relevant to the Strategic Mindset*/
    color: rgb(12, 14, 13);
    padding: 0px 40px;
    margin-bottom: 20px;  /*Change the Button gap*/
}

.what .ctn{
    margin-top: 30px;
}

/*mobile version*/
@media only screen and (max-width:850px){
    .Menu-bar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url('pic/n2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.explore-content{
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column ;
}

.explore-content h1{
   font-size: 7vmin;
   margin: 50px;
}

.explore-content p{
    color: beige;
}




 .col .bb{
    width: 100px;
    height: 40px;
    background: rgb(167, 211, 167);
    border: 2px solid rgb(0,100,0);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    
}

.row_1 .col .llb{
     background-color: #033627;
     color: white;
     font-size: large;
}

.row_2 .col .ordered{
   
   text-align: left;
    font-size: 1.2em;
   color: #fc036b;

}

.row_2 .col .ordered .lbb{
    font-size: 0.8em;
    color: rgb(136, 47, 99);
}


/*Strategic Growth Mindset*/





.row-1{
    display: inline-block;  /*paragraph position type*/ 
    
    align-items: center;
    width: 100%;
    justify-content: space-between;

    
}
.row-1 .col-1{
    display: flex;
    margin-top: 50px;  /*Changing the paragraph top possition*/
    flex-direction: column;
    align-items: center;
}
.row-1 .col-1 .pic11-1{
    margin-top: 20px;
    width: 55%;
    height: 37%;
}                   /*changing the image size*/
.row-1 .col-1 .pic22-1{
    margin-top: 40px;
    width: 50%;
    height: 30%;
}
.row-1 .col-1 .pic33-1{
    margin-top: 40px;
    width: 60%;
    height: 10%;
}
.what .row-1{
    margin-top: 50px;
}

h2{
    font-size: 6vmin;
    color: #484848;
    margin: 30px auto;  /*Change the gap between pic and para */

}

p{
    color: rgb(18, 90, 54);
    padding: 0px 40px;
    margin-bottom: 20px;  /*Change the Button gap*/
    align-items: center;
}

.row-1 .col-1 .cn{
    
    width: 150px;
    height: 50px;
    background: rgb(78, 165, 78);
    border: 2px solid rgb(4, 19, 4);
    margin-top: 10px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 300px;
    height: 590px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
  
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image: url(pic/tonex);
}

.car-2{
    background-image: url(pic/coursera123);
}

.car-3{
    background-image: url(pic/udemy1.jpg);
}

.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card:hover{
    background-color: aquamarine;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
h1{
    font-size: 6vmin;
    color: #484848;
    margin: 30px auto; 
    text-align: center;
}


/*Footer*/
 /*----footer-----*/
 footer
 {
     width: 100%;
     position: absolute;
     bottom: -3000px;
     margin-bottom: 2725px;
     top: 2600px;
     background: linear-gradient(to right, #00093c,#2d0b00);
     color: white;
     padding: 50px 0 20px;
     border-top-left-radius: 125px;
     font-size: 13px;
     line-height: 20px;
 }

 .row1
 {
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
 }

 .footer_col
 {
     flex-basis: 25%;
     padding: 10px;
 }

 .footer_col:nth-child(2), .footer_col:nth-child(3)
 {
     flex-basis: 15%;
 }
 .logo1
 {
     width: 80px;
     margin-bottom: 30px;
     color: rgb(0, 100, 0);
 }

 .footer_col h3
 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
 }

 .email_id
 {
     width: fit-content;
     border-bottom: 1px solid #ccc;
     margin: 20px 0;
 }

 ul li
 {
     list-style: none;
     margin-bottom: 12px;
 }

 ul li a
 {
     text-decoration: none;
     color: white;
 }

 form
 {
     padding-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
     margin-bottom: 50px;
 }

 form .fa-regular
 {
     font-size: 18px;
     margin-right: 10px;
 }

 form input
 {
     width: 100%;
     background: transparent;
     color: #ccc;
     border: 0;
     outline: none;
 }

 form button
 {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
 }

 form button .fa-solid
 {
     font-size: 16px;
     color: #ccc;
 }

 .social_icons
 {
     display: flex;
 }

 .social_icons a
 {
     width: 40px;
     height: 40px;
     text-align: center;
     text-decoration: none;
     color: #000;
     background: white;
     box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
     margin: 0 10px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
     transition: transform 0.5s;
 }

 .social_icons a .fab 
 {
     font-size: 20px;
     line-height: 40px;
     position: relative;
     z-index: 10;
     transition: color 0.5s;
 }

 .social_icons a::after
 {
     content: '';
     width: 100%;
     height: 100%;
     top: -90px;
     left: 0;
     background: linear-gradient(-45deg, #045f18, #ffec17);
     position: absolute;
     transition: 0.5s;
 }

 .social_icons a:hover::after
 {
     top: 0;
 }

 .social_icons a:hover .fab
 {
     color: white;

 }

 .social_icons a:hover
 {
     transform: translateY(-10px);
 }

 hr
 {
     width: 90%;
     border: 0;
     border-bottom: 1px solid #ccc;
     margin: 20px auto;
 }

 .copyright
 {
     text-align: center;
 }

 .underline
 {
     width: 100%;
     height: 5px;
     background: #767676;
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
     overflow: hidden;
 }

 .underline span
 {
     width: 15px;
     height: 100%;
     background: white;
     border-radius: 3px;
     position: absolute;
     top: 0;
     left: 10px;
     animation: moving 2s linear infinite;
 }

 @keyframes moving 
 {
     0%{
         left: -20px;
     }
     100%{
         left: 100%;
     }
 }

 @media (max-width: 700px)
 {
     .footer_col
     {
         bottom: unset;
     }

     .footer_col
     {
         flex-basis: 100%;
     }
 
     .footer_col:nth-child(2), .footer_col:nth-child(3)
     {
         flex-basis: 100%;
     }
 }




 /*----footer for innovationcreativity-----*/
 .f1
 {
     width: 100%;
     height: 410px;
     position: absolute;
     bottom: -5000px;
     margin-bottom: -800px;
     top: 6100px;
     background: linear-gradient(to right, #00093c,#2d0b00);
     color: white;
     padding: 50px 0 20px;
     border-top-left-radius: 125px;
     font-size: 13px;
     line-height: 20px;
 }

 .f1 .row1
 {
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
 }

 .f1 .footer_col
 {
     flex-basis: 25%;
     padding: 10px;
 }

 .footer_col:nth-child(2), .footer_col:nth-child(3)
 {
     flex-basis: 15%;
 }
 .logo1
 {
     width: 80px;
     margin-bottom: 30px;
     color: rgb(0, 100, 0);
 }

 .footer_col h3
 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
 }

 .email_id
 {
     width: fit-content;
     border-bottom: 1px solid #ccc;
     margin: 20px 0;
 }

 ul li
 {
     list-style: none;
     margin-bottom: 12px;
 }

 ul li a
 {
     text-decoration: none;
     color: white;
 }

 form
 {
     padding-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
     margin-bottom: 50px;
 }

 form .fa-regular
 {
     font-size: 18px;
     margin-right: 10px;
 }

 form input
 {
     width: 100%;
     background: transparent;
     color: #ccc;
     border: 0;
     outline: none;
 }

 form button
 {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
 }

 form button .fa-solid
 {
     font-size: 16px;
     color: #ccc;
 }

 .social_icons
 {
     display: flex;
 }

 .social_icons a
 {
     width: 40px;
     height: 40px;
     text-align: center;
     text-decoration: none;
     color: #000;
     background: white;
     box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
     margin: 0 10px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
     transition: transform 0.5s;
 }

 .social_icons a .fab 
 {
     font-size: 20px;
     line-height: 40px;
     position: relative;
     z-index: 10;
     transition: color 0.5s;
 }

 .social_icons a::after
 {
     content: '';
     width: 100%;
     height: 100%;
     top: -90px;
     left: 0;
     background: linear-gradient(-45deg, #045f18, #ffec17);
     position: absolute;
     transition: 0.5s;
 }

 .social_icons a:hover::after
 {
     top: 0;
 }

 .social_icons a:hover .fab
 {
     color: white;

 }

 .social_icons a:hover
 {
     transform: translateY(-10px);
 }

 hr
 {
     width: 90%;
     border: 0;
     border-bottom: 1px solid #ccc;
     margin: 20px auto;
 }

 .copyright
 {
     text-align: center;
 }

 .underline
 {
     width: 100%;
     height: 5px;
     background: #767676;
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
     overflow: hidden;
 }

 .underline span
 {
     width: 15px;
     height: 100%;
     background: white;
     border-radius: 3px;
     position: absolute;
     top: 0;
     left: 10px;
     animation: moving 2s linear infinite;
 }

 @keyframes moving 
 {
     0%{
         left: -20px;
     }
     100%{
         left: 100%;
     }
 }

 @media (max-width: 700px)
 {
     .footer_col
     {
         bottom: unset;
     }

     .footer_col
     {
         flex-basis: 100%;
     }
 
     .footer_col:nth-child(2), .footer_col:nth-child(3)
     {
         flex-basis: 100%;
     }
 }