
/*page opening animation's css part*/
.open{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0 ;
    pointer-events: none;
    z-index: 10000;
}

.open .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s ease-in-out forwards;

}
.open .layer:nth-child(1){
    background: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background: #4c0f68;
    animation-delay: 1s;
    z-index: 1;
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 70%;
}
.bannerText{
    position: absolute;
    top: 90%;       /*change the space of the whole text*/
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
    
}

.bannerText h2,
.bannerText h3{
    position: relative;
    margin: 0;
    padding: 0;
    
    display:inline-block;
    transform-origin: left;
    text-transform: uppercase;
    transform: scaleX(0);
    animation: revealTextReverse 1s ease-in-out forwards;

}
.bannerText h2{
    font-size: 6em;
    animation-delay: 2s;
    top: 50%;
}
.bannerText h3{
    font-size: 3em;
    animation-delay: 2s;
    
}
.bannerText h2::before,
.bannerText h3::before{
    content: '';
    position: absolute;
    top:0%;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealText 1s ease-in-out forwards;
    animation-delay: 3s;
}
.bannerText h3:before{
    animation-delay: 4s;
}
@keyframes revealText{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes revealTextReverse
{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.bannerText p{
    opacity: 0;
    font-weight: 400;
    font-size: 1.2em;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4s;
    margin-bottom: 20%; /*keep spacing between the two pragraphs*/
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.pic1{
    opacity: 0;
    position: absolute;
    left: 60%;
    top: 5%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
    height: 40%;
    width: 30%;
}
.pic2{
    opacity: 0;
    position: absolute;
    left: 60%;
    top: 100%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
    height: 50%;
    width: 30%;
}


/*box css parts*/
.c{
    position:relative;
    
    width: 1200px;  /* if need, please change this px to the %  */
    height: 200px;
    margin: 140px auto;
    padding: 0%;
}
.c .box{
    position: relative;
    top: 950%;  /*change the box top position*/
    width: calc(400px - 30px);     /* if need, please change this px to the %  */
    height: calc(300px - 30px);
    background: rgb(177, 177, 51); /*color of the box background*/
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.c .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;  /*color of the icon*/
    transition: 0.5s;
    z-index: 1;
}

.c .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.c .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}
.c .box:hover .icon .fa{
    font-size: 80px;
}
.c .box .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.c .box:hover .content{
    top: 100px;
    opacity: 1;
}
/*adding styles to the box header */
.c .box .content h3{    
    margin: 0;
    padding: 0;
    color: cyan;
    font-size: 24px;
}
.c .box .content h3{    
    margin: 0;
    padding: 0;
    color: cyan;
    font-size: 24px;
}
.span1{
    color: rgb(14, 158, 110);
}
/*creaing the navigation bar*/
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
.header
{    
     top: 0%;
    min-height: 100vh;
    width: 100%;
    background-image: url(file:///C:/Users/HP/Downloads/bg3.jpg);
    background-size: cover;
}
.Menu-bar
{
    width: 100%;
    height: 80px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.logo
{
    top:0%;
        width: 200px;
    float: left;
    height: 70px;
    color: rgb(0,100,0);
    font-family: 'Times New Roman';
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.Menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.Menu-bar ul li
{
    width: 120px;
    margin: 8px;
    padding: 8px;
    float: left;
    font-size: 14px;
    position: relative;
}
.Menu-bar ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.Menu-bar ul li a:hover
{
    color: #2bab0d;
    border-radius: 3px;
}
.Menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
    
}
.Menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
}
.Menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 8px;

}
.Menu-bar ul li:hover .sub-menu-1 li
{
    width: 150px;
    padding: 1.5px;
    background: transparent;
    border-bottom: 1px dotted black;
    border-radius: 0;
    text-align: left;
}
.Menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.Menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #2bab0d;
}
.search
{
    width: 250px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.srch
{
    font-family: 'Times New Roman';
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn
{
    width: 100px;
    height: 40px;
    background: rgb(0,100,0);
    border: 2px solid rgb(0,100,0);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn :focus
{
    outline: none;
}
.srch:focus
{
    outline: none;
}





