ul.nav{
 list-style-type: none;
 margin: 0%;
 padding: 0%;
 overflow: hidden;
 background-color: darkcyan;
 font-size: 100%;
}
ul.nav li{
    float: left;
    margin: 2%;
    padding-bottom: 0%;
}
ul.nav li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding-left: 2%;
    text-decoration: none;

}
ul.nav li a:hover{
    background-color:tomato;
    
}