*
{
    top:0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header
{
    min-height: 100vh;
    width: 100%;

}
/*
.Menu-bar
{
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.logo
{
    width: 200px;
    float: left;
    height: 70px;
    padding: 2% 2%;
    color: rgb(0, 100, 0);
    font-family: 'Times New Roman';
    font-size: 40px;
    float: left;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.nav-links ul li
{
    width: 110px;
    margin: 5px;
    font-size: 13px;
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(60, 134, 64);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;

}
.Menu-bar ul li a:hover
{
    color: #2bab0d;
    border-radius: 3px;
}
.Menu-bar .fas
{
    margin-right: 5px;
}
.sub-menu-1
{
    display: none;
    
}
.nav-links ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
}
.nav-links ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 8px;
}
.nav-links ul li:hover .sub-menu-1 li
{
    width: 150px;
    padding: 1.5px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.nav-links ul li:hover .sub-menu-1 ul li a:hover
{
    color: rgb(60, 134, 64);
}


.Menu-bar .tag
{
    display: none;
}
@media(max-width: 700px)
{
    .content h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(0,100,0);
        color: white;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 6;
        transition: 1s;
    }
    .Menu-bar .tag
    {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul 
    {
        padding: 20px;
    }
    
}
*/
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*Nav bar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;

}
/*The sub menu*/
.sub-menu-1
{
    display: none;
    
}
.nav-sub ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
}
.nav-sub ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 8px;
}
.nav-sub ul li:hover .sub-menu-1 li
{
    width: 150px;
    padding: 1.5px;
    background: transparent; 
    border-radius: 0;
    text-align: left;
}
.nav-sub ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.nav-sub ul li:hover .sub-menu-1 ul li a:hover
{
    color: rgb(60, 134, 64);
}
/*topic*/
header{
    top: 10%;
    width: 100vw;
    height: 100vh;
    background-image: url('pic/n1.jpg') ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header .content h1{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header .content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
/*Adding the quote*/
.william {
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position:absolute;
    text-align: left;
    top: 10%;    /*changing the quote top position*/
    margin-bottom: 10px;

}
.william .quote{
    margin-top: 5%;
    padding-left: 20px;
    font-family: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 25px ;
    text-align: center;
}
/*mobile version*/
@media only screen and (max-width:850px){
    .Menu-bar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
}