*
{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{   top: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
}



/*Core styles*/
img{
    display: block;
    width: 100%;
    height: auto;

}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;

}

p{
    margin: 0;
    padding: 1em 0;
}

.button{
    
    display: inline-block;
    background: #333;
    color: azure;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}
.button:hover{
    background: hsl(0, 14%, 95%);
    color: #333;
}

/*Header showcase*/

#showcase{
    min-height: 450px;      /*change the height after the rread more button*/
    color: rgb(160, 25, 25); /*Change the topic color*/
   text-align:center ;
}

#showcase .bg.image{
    position: absolute;
    background: #333 url('https://www.pexels.com/photo/close-up-of-blue-paint-323933/') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px; /*This is equal to the line 196(#showcase --> min-height)*/
    z-index: -1;
    opacity: 0.4;
}

#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#showcase-a .content-wrap {
    padding: 0 1.5em;

}
#showcase .content-wrap p{
    background-color:rgb(212, 236, 212);
}

/*Section A*/

#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;

}
/*Section b*/

#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content{
    padding: 1.5em;
}

.card .img12{
    height: 550px;
    width: 100%;
}
.card .img123{
    height: 450px;
    width: 75%;
    align-items: center;
}
.card .card-title{
 color: rgb(76, 121, 10);
 background-color: azure;
    
}
.card .p1{
    color: rgb(77, 27, 143);
    background-color: aliceblue;
}
.card .p2{
    color: rgb(117, 65, 2);
    background-color: aliceblue;
}
.card .p3{
    color: rgb(122, 24, 29);
    background-color: aliceblue;
}
.card .p4{
    color: darkgreen;
    background-color: aliceblue;
}
.card .p5{
    color: rgb(10, 59, 59);
    background-color: aliceblue;
}

/*section c*/

#section-c{
    background: #fff;
    color: #333;
    padding: 2em;
}

/*Section d*/

#section-d .box{
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child{
    background: #2690d4;
}


/*media quaries*/

@media(min-width:700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .content-wrap, #section-b ul{
               grid-column: 2/4;
    }
}


 /*----footer-----*/
 footer
 {
     width: 100%;
     position: absolute;
    
     margin-bottom: -2250px;
    
     background: linear-gradient(to right, #00093c,#2d0b00);
     color: white;
     padding: 50px 0 20px;
     border-top-left-radius: 125px;
     font-size: 13px;
     line-height: 20px;
 }

 .row1
 {
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
 }

 .footer_col
 {
     flex-basis: 25%;
     padding: 10px;
 }

 .footer_col:nth-child(2), .footer_col:nth-child(3)
 {
     flex-basis: 15%;
 }
 .logo1
 {
     width: 80px;
     margin-bottom: 30px;
     color: rgb(0, 100, 0);
 }

 .footer_col h3
 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
     
 }

 .email_id
 {
     width: fit-content;
     border-bottom: 1px solid #ccc;
     margin: 20px 0;
 }

 ul li
 {
     list-style: none;
     margin-bottom: 12px;
 }

 ul li a
 {
     text-decoration: none;
     color: white;
 }

 form
 {
     padding-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
     margin-bottom: 50px;
 }

 form .fa-regular
 {
     font-size: 18px;
     margin-right: 10px;
 }

 form input
 {
     width: 100%;
     background: transparent;
     color: #ccc;
     border: 0;
     outline: none;
 }

 form button
 {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
 }

 form button .fa-solid
 {
     font-size: 16px;
     color: #ccc;
 }

 .social_icons
 {
     display: flex;
 }

 .social_icons a
 {
     width: 40px;
     height: 40px;
     text-align: center;
     text-decoration: none;
     color: #000;
     background: white;
     box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
     margin: 0 10px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
     transition: transform 0.5s;
 }

 .social_icons a .fab 
 {
     font-size: 20px;
     line-height: 40px;
     position: relative;
     z-index: 10;
     transition: color 0.5s;
 }

 .social_icons a::after
 {
     content: '';
     width: 100%;
     height: 100%;
     top: -90px;
     left: 0;
     background: linear-gradient(-45deg, #045f18, #ffec17);
     position: absolute;
     transition: 0.5s;
 }

 .social_icons a:hover::after
 {
     top: 0;
 }

 .social_icons a:hover .fab
 {
     color: white;

 }

 .social_icons a:hover
 {
     transform: translateY(-10px);
 }

 hr
 {
     width: 90%;
     border: 0;
     border-bottom: 1px solid #ccc;
     margin: 20px auto;
 }

 .copyright
 {
     text-align: center;
 }

 .underline
 {
     width: 100%;
     height: 5px;
     background: #767676;
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
     overflow: hidden;
 }

 .underline span
 {
     width: 15px;
     height: 100%;
     background: white;
     border-radius: 3px;
     position: absolute;
     top: 0;
     left: 10px;
     animation: moving 2s linear infinite;
 }

 @keyframes moving 
 {
     0%{
         left: -20px;
     }
     100%{
         left: 100%;
     }
 }

 @media (max-width: 700px)
 {
     .footer_col
     {
         bottom: unset;
     }

     .footer_col
     {
         flex-basis: 100%;
     }
 
     .footer_col:nth-child(2), .footer_col:nth-child(3)
     {
         flex-basis: 100%;
     }
 }
