html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url(Fonts/Montserrat-Bold.ttf); }
@font-face {
  font-family: "Roboto-Regular";
  src: url(Fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "Roboto-Italic";
  src: url(Fonts/Roboto-Italic.ttf); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold"; }
    
.container-fluid {
  padding: 0; }
    
.card {
  border: none;
  border-radius: 0; }
  .card img {
    border-radius: 0; }
    
header .card a, .vr-gallery a.btn {
  background-color: #03133a;
  width: 200px;
  padding: 12px 0;
  color: #ffffff;
  font-family: "Montserrat-Bold";
  margin-top: 20px;
  border-radius: 0; }
  header .card a:hover, .vr-gallery a.btn:hover {
    background: #ffffff;
    color: #03133a; }

    header {
      background-color: rgba(170, 235, 178, 0.7);
      text-align: center;
      padding: 20px 0;
      padding-bottom: 50px; }
      header .bg-cover {
        background: rgba(0, 0, 0, 0.7); }
      header .input-group input {
        display: none; }
      header h2.logo {
        font-size: 75px;
        font-family: "Angeline_Vintage";
        color: #ffffff; }
      header .nav-fill {
        max-width: 250px; }
        header .nav-fill a {
          color: #ffffff; }
        header .nav-fill li:hover a {
          color: #03133a; }
      header .navbar li.nav-item a.nav-link {
        font-family: "Montserrat-Bold";
        color: #ffffff;
        padding-right: 1.5rem;
        padding-left: 1.5rem; }
      header .card {
        color: #ffffff; }
        header .card p {
          text-transform: uppercase; }
        header .card hr {
          margin-top: 5px;
          width: 30px;
          border: 1px solid #03133a; }
        header .card h2 {
          font-size: 40px;
          max-width: 510px;
          margin: 20px auto; }
        @media (max-width: 1299px) {
          header .card h2 {
            font-size: 24px; }
          header .card a {
            width: auto;
            padding: 8px 15px;
            font-size: 12px; } }
        @media (max-width: 767px) {
          header .card h2 {
            font-size: 36px; }
          header .card a {
            width: auto;
            padding: 12px 15px;
            font-size: 16px; } }
        @media (max-width: 500px) {
          header .card h2 {
            font-size: 24px; }
          header .card a {
            width: auto;
            padding: 8px 15px;
            font-size: 14px; } }
            header .col-md-3 {
              text-align: center;
              padding: 5px 2.5px !important; }
              header .col-md-3.first {
                padding-left: 15px !important; }
              header .col-md-3.last {
                padding-right: 15px !important; }
              header .col-md-3 img {
                max-height: 227px; }
              header .col-md-3 h5 {
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%); }
            header .bar1, header .bar2, header .bar3 {
              width: 25px;
              height: 2px;
              background-color: #fff;
              margin: 5px 0;
              transition: 0.4s;
              display: block;
              position: relative; }
            header .change .bar1 {
              -webkit-transform: rotate(-42deg) translate(-2px, 6px);
              transform: rotate(-42deg) translate(-2px, 6px); }
            header .change .bar2 {
              opacity: 0; }
            header .change .bar3 {
              -webkit-transform: rotate(46deg) translate(-4px, -8px);
              transform: rotate(46deg) translate(-4px, -8px); }
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }